@import url('https://fonts.googleapis.com/css?family=Crimson+Text:400i|Roboto:100,300,400');

body {
    font-family:Roboto, sans-serif;
    font-weight:300;
}

.App {
  text-align: center;
}

#about, #resources {
    background-color:#d3d3d33d;
}

.App-header {
  background-image: url(/imgs/background.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 250px;
  background-position: 50% 50%;
  color: white;
  position:relative;
}

#book-description {
  display: inline-block;
  width: 69%;
  vertical-align: top;
  height: 250px;
}

#book-cover {
  height:200px;
  display:inline-block;
  background-image: url(/imgs/front-cover.png);
  background-repeat: no-repeat;
  width:200px;
  height:250px;
  background-size: cover;
}


.App-title {
  /* font-size: 1.5em; */
  margin:0px;
  font-family:Roboto;
  font-variant: small-caps;
  padding-top:89px;
  font-weight:100;
}

.App-intro {
  font-size: large;
}

#links {
  position: absolute;
  bottom:0px;
}
#links a {
  text-decoration:underline;
  color:white;
  padding:4px;
  font-variant: small-caps;
}

.section-title {
  color: gray;
  font-family: Roboto;
  margin-top: 0px;
  margin-bottom: 0px;
  font-weight:100;
  font-size: 2em;
}


#top-quote {
  font-family:'Crimson Text';
  opacity:.6;
}

#top-quote blockquote {
  margin-bottom:0px;
  font-size:1.5rem;
}

.section-container {
  margin-top:2px;
  margin-left:auto;
  margin-right:auto;
  width:75%;
  text-align:left;
  opacity:.75;
  font-size:18px;
  padding-top:5px;
  padding-bottom:5px;
}

li {
  list-style-type:square;
}

#projects {
  width:100%;
  height:auto;
  margin-top:20px;

}

a:visited {
    color: rgb(0, 0, 238);
}

/* Media Queries */
@media (min-width: 760px) {
  .App-header {
    background-position:0% 24%;
  }
  .App-title {
    padding-top:0px;
    padding-left:5px;
    font-size:3rem;
    text-align:left;
  }
}

@media (min-width: 1400px) {
  .App-header {
    background-position:0% 29%;
  }
}

